/*
@mixin phone{
    @media (max-width: 400px ) { @content}
}*/
@keyframes moveright {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  80% {
    transform: translateX(1rem);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveleft {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  80% {
    transform: translateX(-1rem);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes btnmoveup {
  0% {
    transform: translateY(3.5rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

.heading-primary {
  color: #fff;
}

.heading-primary__main {
  letter-spacing: 3.5rem;
  display: block;
  font-size: 6rem;
  font-weight: 400;
  animation: moveright 1s ease-out;
}

@media (max-width: 37.5em) {
  .heading-primary__main {
    letter-spacing: 1rem;
  }
}

.heading-primary__sub {
  display: block;
  font-weight: 600;
  letter-spacing: 1.75rem;
  font-size: 2rem;
  animation: moveleft 1s ease-out;
}

@media (max-width: 37.5em) {
  .heading-primary__sub {
    letter-spacing: .5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  -webkit-background-clip: text;
  color: #28b485;
  transition: all .2s;
}

@supports (-webkit-background-clip: text) or (background-clip: text) {
  .heading-secondary {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
  }
}

.heading-secondary:hover {
  transform: skew(15deg, 2deg) scale(1.1);
  text-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 4rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-md {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-lr {
  margin-bottom: 8rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-lr {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-sm {
  margin-top: 1.5rem !important;
}

.u-margin-top-md {
  margin-top: 4rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-top-md {
    margin-top: 3rem !important;
  }
}

.u-margin-top-lr {
  margin-top: 8rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-top-lr {
    margin-top: 5rem !important;
  }
}

.u-margin-right-lr {
  margin-right: 8rem !important;
}

.u-margin-right-md {
  margin-right: 4rem !important;
}

.u-margin-right-sm {
  margin-right: 2rem !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "lato", sans-serif;
  color: #777;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem;
}

@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 5rem;
  margin-top: -20vh;
}

@media (max-width: 75em) {
  .section-about {
    padding: 20rem 0 15rem 3rem;
  }
}

@media (max-width: 56.25em) {
  .section-about {
    padding: 20rem 0 15rem 0;
  }

  .section-about .row {
    max-width: 70rem;
  }

  .section-about h2 {
    max-width: 80rem;
  }
}

.section-features {
  margin-top: -8rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  padding: 20rem 0;
  transform: skew(0deg, -7deg);
}

@media (max-width: 56.25em) {
  .section-features {
    padding: 10rem 0;
  }
}

.section-features>* {
  transform: skew(0deg, 7deg);
}

.section-tour {
  margin-top: -12rem;
  background-color: #f7f7f7;
  padding-top: 25rem;
  padding-bottom: 12rem;
}

@media (max-width: 56.25em) {.section-tour{
  padding: 20rem 0 8rem 0;
}}

.section-stories {
  padding: 15rem 0;
  position: relative;
}
.section-stories .row{
margin-bottom: 0 !important;}

@media (max-width: 56.25em) {.section-stories{
  padding: 10rem 0;
}}

@media (max-width: 37.5em) {
  .section-stories {
    padding: 7rem 0;
  }
}

.book {
  background-image: linear-gradient(to right bottom, #28b485, #7ed56f);
  padding: 15rem 0;
}

@media (max-width: 75em) {
  .book {
    padding: 12rem 0;
  }
}

@media (max-width: 56.25em) {
  .book {
    padding: 10rem 0;
  }
}

.book-container {
  margin: 0 auto;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  background-size: cover;
}

@media (max-width: 75em) {
  .book-container {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 50%), url(../img/nat-10.jpg);
  }
}

@media (max-width: 56.25em) {
  .book-container {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 50%), url(../img/nat-10.jpg);
  }
}

.book-form {
  width: 50%;
  padding: 6rem;
}

@media (max-width: 75em) {
  .book-form {
    width: 65%;
  }
}

@media (max-width: 56.25em) {
  .book-form {
    width: 100%;
  }
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
}

.card {
  perspective: 150rem;
  height: 50rem;
  position: relative;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
}

.card-side {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all .8s;
  position: absolute;
  backface-visibility: hidden;
}

.card-side__back {
  transform: rotateY(180deg);
}

.card-side__back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card-side__back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card-side__back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card-side__front {
  transform: rotateY(-180deg);
}

.card:hover .card-side__back {
  transform: rotateY(0deg);
}

.card-picture {
  background-size: cover;
  height: 23rem;
  position: relative;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card-picture-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}

.card-picture-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}

.card-picture-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}

.card-heading {
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  width: 70%;
  text-align: right;
  position: absolute;
  top: 12rem;
  right: 2rem;
}

.card-heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
}

.card-heading-span-1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card-heading-span-2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.card-heading-span-3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card-details {
  font-size: 1.5rem;
}

.card-details ul {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.card-details ul li {
  list-style: none;
  padding: 1rem;
}

.card-details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.card__cta {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  border-radius: 10rem;
  padding: 1.5rem 3.5rem;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s;
}

.btn-white {
  color: #777;
  background-color: #fff;
}

.btn-white::after {
  background-color: #fff;
}

.btn-green {
  color: #fff;
  background-color: #28b485;
}

.btn-green::after {
  background-color: #28b485;
}

.btn:hover {
  transform: translateY(0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:focus,
.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scale(1.6, 1.4);
  opacity: 0;
}

.btn-animated {
  animation: btnmoveup 1s ease-out 1s;
  animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
  text-decoration: none;
  color: #28b485;
  font-size: 1.6rem;
  padding: 3px;
  border-bottom: 1px solid #28b485;
  display: inline-block;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #28b485;
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-text:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  position: absolute;
  z-index: 0;
  outline-offset: 2rem;
  transition: all .3s;
}

@media (max-width: 56.25em) {
  .composition__photo {
    position: relative;
    float: left;
    width: 33.33%;
  }
}

.composition__photo-1 {
  left: 0;
  top: -2rem;
}

@media (max-width: 56.25em) {
  .composition__photo-1 {
    top: 0;
    transform: scale(1.2);
  }
}

.composition__photo-2 {
  right: 0;
  top: 2rem;
}

@media (max-width: 56.25em) {
  .composition__photo-2 {
    top: -1rem;
    left: 0;
    transform: scale(1.3);
    z-index: 1;
  }
}

.composition__photo-3 {
  top: 10rem;
  left: 20%;
}

@media (max-width: 56.25em) {
  .composition__photo-3 {
    top: 1rem;
    left: 0;
    transform: scale(1.1);
  }
}

.composition__photo:hover {
  z-index: 1;
  outline: 1.5rem solid #28b485;
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.2);
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1.5rem;
  border-radius: 3px;
  transition: all .2s;
}

@media (max-width: 56.25em) {
  .feature-box {
    padding: 1.5rem;
  }
}

.feature-box-icon {
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 56.25em) {
  .feature-box-icon {
    margin-bottom: 0;
  }
}

.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.story {
  width: 70%;
  margin: 8rem auto;
  padding: 6rem;
  padding-left: 9rem;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skewX(-12deg);
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
}

@media (max-width: 37.5em) {
  .story {
    transform: skewX(0deg);
  }
}

@media (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 6rem;
  }
}

.story>* {
  transform: skewX(12deg);
}

@media (max-width: 37.5em) {
  .story>* {
    transform: skew(0);
  }
}

.story-shape {
  width: 15rem;
  height: 15rem;
  float: left;
  overflow: hidden;
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
  border-radius: 50%;
}

@supports (shape-outside: circle(50% at 50% 50%)) {
  .story-shape {
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}

@media (max-width: 37.5em) {
  .story-shape {
    transform: translateX(-3rem) skewX(0deg);
  }
}

.story-img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all .4s;
}

.story-caption {
  font-size: 1.7rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, 20%);
  opacity: 0;
  transition: all .5s;
  color: white;
}

.story-text {
  font-size: 1.6rem;
}

.story-text h3 {
  font-size: 2rem;
}

.story:hover .story-img {
  filter: blur(3px) brightness(90%);
  transform: translateX(-4rem) scale(1);
}

.story:hover .story-caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: .15;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 56.25em) {
  .book-form {
    padding: 4rem;
    width: 100%;
  }
}

.book-form-group:not(:last-child) {
  margin-bottom: 2rem;
}

@media (max-width: 56.25em) {
  .book-form-group:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.book-form-group .form-input {
  padding: 2rem 1.5rem;
  font-size: 1.6rem;
  width: 100%;
  display: block;
  border-style: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid transparent;
  transition: all .3s;
}

@media (max-width: 56.25em) {
  .book-form-group .form-input {
    padding: 1.5rem;
  }
}

.book-form-group .form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid red;
}

.book-form-group .form-input:focus:valid {
  border-bottom: 3px solid #28b485;
}

.book-form-group .form-input::-webkit-input-placeholder {
  color: #999;
}

.book-form-group .form-input:placeholder-shown+.form-label {
  visibility: hidden;
  transform: translateY(-3.5rem);
  opacity: 0;
}

.book-form-group .form-label {
  display: block;
  font-size: 1.2rem;
  color: inherit;
  transition: all .3s;
  margin-left: 2rem;
  margin-top: .8rem;
}

.radio-group {
  display: inline-block;
  width: 48%;
}

@media (max-width: 56.25em) {
  .radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.radio-input {
  visibility: hidden;
}

.radio-input:checked~.radio-label .radio-real::after {
  opacity: 1;
}

.radio-label {
  padding-left: 4rem;
  font-size: 1.6rem;
  position: relative;
}

.radio-real {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  border: 6px solid #28b485;
  border-radius: 50%;
  transform: translateY(0.5rem);
  position: absolute;
  left: 0;
  top: -1rem;
}

.radio-real::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border: 0.7rem solid #28b485;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -48%);
  opacity: 0;
  transition: opacity .2s;
}

.footer-logo-box {
  margin-bottom: 8rem;
}

@media (max-width: 56.25em) {
  .footer-logo-box {
    margin-bottom: 6rem;
  }
}

.list {
  list-style: none;
  border-top: 1px solid #999;
  display: inline-block;
}

.list-items {
  display: inline-block;
  padding-top: 2rem;
}

.list-items:not(:last-child) {
  margin-right: 2rem;
}

@media (max-width: 56.25em) {
  .list {
    width: 100%;
    text-align: center;
  }
}

.link {
  transition: all .2s;
}

.link,
.link:link .link:visited {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: inline-block;
}

.link:hover {
  color: #28b485;
  transform: rotate(5deg) scale(1.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.copyright {
  color: #fff;
  border-top: 1px solid #999;
  padding-top: 2rem;
  float: right;
  width: 80%;
}

@media (max-width: 56.25em) {
  .copyright {
    width: 100%;
    text-align: center;
  }
}

.nav {
  height: 0px;
}

.nav-back-btn {
  width: 6rem;
  height: 6rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  position: fixed;
  top: 7rem;
  right: 7rem;
  z-index: 50;
  display: inline-block;
  border-radius: 50%;
  transition: all .2s;
}

@media (max-width: 56.25em) {
  .nav-back-btn {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.nav-front-btn {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 100;
  display: inline-block;
  cursor: pointer;
}

@media (max-width: 56.25em) {
  .nav-front-btn {
    top: 3rem;
    right: 3rem;
  }
}

.nav-front-btn:hover .nav-icon::after {
  top: 1rem;
}

.nav-front-btn:hover .nav-icon::before {
  top: -1rem;
}

.nav-icon,
.nav-icon::before,
.nav-icon::after {
  transition: all .2s;
  width: 3rem;
  height: 1px;
  background-color: black;
  display: inline-block;
}

.nav-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-icon::after,
.nav-icon::before {
  position: absolute;
  left: 0;
  content: "";
}

.nav-icon::before {
  top: -.8rem;
}

.nav-icon::after {
  top: .8rem;
}

.nav-checkbox {
  visibility: hidden;
}

.nav-checkbox:checked~.nav-back-btn {
  transform: scale(100);
}

.nav-checkbox:checked~.nav-nav {
  transform: translateX(0);
  opacity: 1;
}

.nav-checkbox:checked~.nav-front-btn .nav-icon {
  background-color: transparent;
}

.nav-checkbox:checked~.nav-front-btn .nav-icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.nav-checkbox:checked~.nav-front-btn .nav-icon::before {
  transform: rotate(135deg);
  top: 0;
}

.nav-nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 90;
  transform: translateX(100rem);
  opacity: 0;
  display: inline-block;
  transition: all .5s;
  backface-visibility: hidden;
}

.nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 37.5em) {
  .nav-list {
    width: 100%;
  }
}

.nav-items {
  list-style: none;
  text-align: center;
  margin: 1rem;
}

.nav-links,
.nav-links:link,
.nav-links:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
  transition: all .4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 225%;
  padding: 2rem 0;
  display: inline-block;
}

@media (max-width: 37.5em) {

  .nav-links,
  .nav-links:link,
  .nav-links:visited {
    width: 100%;
  }
}

.nav-links:active,
.nav-links:hover,
.nav-links:link:active,
.nav-links:link:hover,
.nav-links:visited:active,
.nav-links:visited:hover {
  background-position: right;
  color: #7ed56f;
  transform: translateX(1rem);
}

.nav-links span {
  margin-right: 2rem;
}

.popup {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
  z-index: 999;
  overflow: hidden;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  width: 75%;
  margin: auto auto;
  background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95));
  display: table;
  overflow: hidden;
}

@media (max-width: 75em) {
  .popup-content {
    width: 100%;
  }
}

/*@media (max-width: 43.75em) {
          .popup-content {
            padding: 5rem 0; } }*/
.popup-right {
  padding: 2rem 4rem;
  width: auto;
  display: table-cell;
  vertical-align: middle;
}
@media(max-width:37.5em) {
  .popup-right .heading-secondary {
    font-size: 3rem;
  }}
  @media(max-width:21.5em) {
    .popup-right .heading-secondary {
      font-size: 2rem;
    }
  .popup-right .heading-tertiary {
    font-size: 1.3rem;
  }
}


.popup-icon,
.popup-icon:link,
.popup-icon:visited {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 5rem;
  line-height: 1;
  display: inline-block;
  color: #28b485;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width:37em){
  .popup-icon,
.popup-icon:link,
.popup-icon:visited{
right: 1rem;}
}
.popup-icon:hover {
  color: #dd3333;
}

.popup-left {
  width: 33.32%;
  display: table-cell;
  overflow: hidden;
}

@media (max-width: 56.25em) {
  .popup-left {
    width: 25%;
  }
}

@media (max-width: 37.5em) {
  .popup-left {
    display: none
  }
}

.popup-img {
  width: 100%;
  display: inline-block;
}

@media (max-width: 56.25em) {
  .popup-img {
    width: 160%;
    transform: translateX(-25%);
 border-radius: 5rem;
  }
}

@media (max-width: 43.75em) {
  .popup-img {
    width: 220%;
    transform: translateX(-25%);
  }
}

.popup-text {
  font-size: 1.6rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #f7f7f7;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}


@media (max-width: 25em) {
  .popup-text {
    column-count: 2;
    font-size: 1.3rem;
  }
}
@media (max-width: 20em) {
  .popup-text {
    column-count: 1;
  }
}

@media (max-width: 56.25em) {
  .card {
    height: auto;
  }

  .card-side {
    height: auto;
    position: relative;
  }

  .card-side__back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }

  .card:hover .card-side__front {
    transform: rotateY(0deg);
  }

  .card__cta {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0);
    padding: 4rem 1rem 2rem 1rem;
  }

  .card__cta .btn {
    margin-top: 2rem !important;
  }

  .card__price-value {
    font-size: 4rem;
  }
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero-small.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-size: cover;
  background-position: top;
}

@media (min-resolution: 192dpi) and (min-width: 37.5em),
(min-width: 125em) {
  .header {
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/hero.jpg);
  }
}
@media (max-width: 56.5em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }
}


@media (max-width: 37.5em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}

.header__textbox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.header-logo {
  height: 3.5rem;
  margin: 4rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}

@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^=col-] {
  float: left;
}

@media (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}

.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

@media (max-width: 56.25em) {
  .row [class^=col-] {
    margin-right: 0px !important;
    margin-bottom: 6rem;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 6rem)/ 2);
}

.row .col-1-of-3 {
  width: calc((100% - (6rem) *2)/ 3);
}

.row .col-1-of-4 {
  width: calc((100% - (6rem) *3)/ 4);
}

.row .col-2-of-3 {
  width: calc(((100% - (6rem))/ 3)*2);
}

.row .col-2-of-4 {
  width: calc(((100% - (6rem*2))/ 4) *2);
}

.row .col-3-of-4 {
  width: calc(((100% - (6rem))/ 4)*3);
}
